*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  user-select: none;

  line-height: 1em;

  --tile-aspect-ratio: calc(4/16);
  --tile-width: 22rem;
  --tile-height: calc(var(--tile-width) * var(--tile-aspect-ratio));
  --tile-border-radius: 0.25rem;
  --inter-tile-margin: 0.5rem;

  --theme-color: rgb(73, 155, 234);
  --folder-color: rgb(3, 167, 221);
  --modal-background-color: rgba(32,32,32,0.5);
  --base-background-color: #DDD;
  --base-text-color: #111;
  --viewer-background-color: #FFF;
  --viewer-text-color: #333;

  --transition-base: 300ms;
}

@media (prefers-color-scheme: dark) {
  * {
    --base-background-color: #111;
    --base-text-color: #EEE;
    --viewer-background-color: #333;
    --viewer-text-color: #DDD;
  }
}

html {
  font-family: 'Segoe UI', Calibri, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: var(--base-background-color);
  color: var(--base-text-color);
}

body {
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

svg {
  transform: scale(1.25);
}

.viewerContainer {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  height: 100vh;
  width: calc(100vw - var(--tile-width));
  background-color: var(--viewer-background-color);
  color: var(--viewer-text-color);
  padding: 0;
}

.viewerContainer:-webkit-full-screen,
.viewerContainer:fullscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewerContainer:-webkit-full-screen .controls,
.viewerContainer:fullscreen          .controls {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.viewerContainer.drop::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "Drop Here";
  font-size: 5rem;
  text-shadow: 0px 0px 1.5rem #000;
  background-color: rgba(64,64,64,0.5);
  background-image: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="hsl(323, 100%, 50%)" d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M12,4 C7.58172,4 4,7.58172 4,12 C4,16.4183 7.58172,20 12,20 C16.4183,20 20,16.4183 20,12 C20,7.58172 16.4183,4 12,4 Z M12,6 C15.3137,6 18,8.68629 18,12 C18,15.3137 15.3137,18 12,18 C8.68629,18 6,15.3137 6,12 C6,8.68629 8.68629,6 12,6 Z M12,8 C9.79086,8 8,9.79086 8,12 C8,14.2091 9.79086,16 12,16 C14.2091,16 16,14.2091 16,12 C16,9.79086 14.2091,8 12,8 Z M12,10 C13.1046,10 14,10.8954 14,12 C14,13.1046 13.1046,14 12,14 C10.8954,14 10,13.1046 10,12 C10,10.8954 10.8954,10 12,10 Z"></path></svg>');
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
  animation: pulse calc(2 * var(--transition-base)) ease-in-out alternate infinite;
  z-index: 2000;
}

@keyframes pulse {
  0%   { opacity: 100%; }
  100% { opacity: 50% }
}

.controls {
  opacity: 100%;
  transition: opacity var(--transition-base);
}
:-webkit-full-screen.fadeout .controls,
:fullscreen.fadeout          .controls {
  opacity: 0;
}

:-webkit-full-screen.fadeout,
:fullscreen.fadeout {
  cursor: none;
}

:-webkit-full-screen .player,
:fullscreen          .player {
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
}

.view {
  border: 0 none;
  margin: 0;
  width: 100%;
  height: calc(100% - 6em);
}
pre.view {
  overflow: auto;
  padding: 1em;
}
iframe.view {
  overflow: hidden;
}

.modal {
  z-index: 100;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 320px;
  max-width: 100vw;
  overflow-x: hidden;

  margin: 0;
  margin-left: -100vw;
  transition: margin-left var(--transition-base) ease;
  padding: 1rem;

  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.1rem;

  list-style: none;

  background-color: var(--modal-background-color);
  color: var(--base-background-color);
}

.show {
  margin-left: 0;
}

.modal::before {
  display: block;
  font-size: 1.1em;
  margin: 0.5rem;
}
.fileinfo::before {
  content: "File metadata";
}
.help::before {
  content: "Keyboard Shortcuts"
}

.modal-item {
  display: block;
  padding: 1rem;
  width: 100%;
  position: relative;
  margin: 0;
  background-color: var(--viewer-background-color);
  color: var(--viewer-text-color);
}
.help-item {
  max-width: 320px;
}

.fileinfo-item .key, .help-item .key {
  display: inline-block;
  width: 10rem;
  margin-right: 1rem;
  font-weight: bold;
}

.fileinfo-item .value {
  display: inline-block;
  width: calc(100% - 11rem);
  user-select: text;
}

.help-item .key {
  width: 15ch;
  padding: 0.75em;
  border-radius: var(--tile-border-radius);
  background-color: rgba(128,128,128,0.5);
  color: var(--viewer-text-color);
  text-align: center;
  gap: 1rem;
  font-weight: normal;
}

.help-item .desc {
  display: inline-block;
}

.controls {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(128,128,128,0.2);
  padding: 1rem;
  width: 100%;
  text-align: center;
  overflow: hidden;
  height: 6em;
}

body[data-loaded="true"] .controls {
  display: block;
}

.controls button {
  display: inline-block;
  border: 0 none;
  outline: none;

  width: 2.5rem;

  margin: 1rem 0;

  background: none;
  cursor: pointer;
  transition: filter calc(var(--transition-base) / 2);
}

.controls svg {
  fill: var(--theme-color);
  width: 24px;
  height: 24px;
  filter: drop-shadow(0px 0px 4px var(--viewer-background-color));
}

.controls button:hover, .hasSubtitles .controls .btn-subtitles:hover {
  filter: saturate(0.1) brightness(4);
}

.controls button:active {
  filter: brightness(0.5);
}

button.btn-fullscreen {
  display: none;
}

button.btn-fullscreen.enabled {
  display: inline-block;
}

.btn-fullscreen .collapse, /* Hide `.collapse` by default */
:-webkit-full-screen .btn-fullscreen .expand, /* Hide collapse in fullscreen mode */
:fullscreen          .btn-fullscreen .expand {
  display: none;
}

.btn-fullscreen .expand, /* Show `.expand` by default */
:-webkit-full-screen .btn-fullscreen .collapse, /* Show collapse in fullscreen mode */
:fullscreen          .btn-fullscreen .collapse {
  display: block;
}

.controls .btn-cloud {
  /* Only show this button if cloud streaming is enabled/possible */
  display: none;
}

.controls .btn-cloud:hover {
  filter: brightness(1.5);
}

button.btn-onedrive {
  width: 37px;
}

button.btn-gdrive {
  width: 24px;
}

.primary-buttons {
  position: relative;
}

.sources {
  position: absolute;
  right: 0;
  top: 0;
}

/* Make the `.sources` group together into it's own line if it gets too skinny */
@media screen and (max-width: 500px) {
  .sources {
    position: relative;
  }

  .sources button {
    margin: 0;
  }
}

.links {
  height: 100vh;
  min-width: var(--tile-width);
  overflow: auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
}

.links a {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  width: var(--tile-width);
  height: var(--tile-height);

  padding: 0;

  background-color: rgba(128,128,128,0.2);
  color: var(--base-text-color);
  text-decoration: none;
  border-top: 1px solid rgba(128,128,128,0.5);
}

.links a:last-of-type {
  border-bottom-right-radius: var(--tile-border-radius);
  border-bottom-left-radius: var(--tile-border-radius);
}

.links a .title {
  /* Title */
  position: relative;
  display: inline-block;
  bottom: 0;
  left: 0;

  overflow-wrap: break-word;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: left;
  padding: 1rem 0;
}

.folder .title svg {
  height: 1em;
  width: 1em;
  margin-bottom: -0.18em;
}
.folder:first-of-type .title svg {
  display: inline-block;
}

.links a.file-item .arrow {
  display: inline-block;
  padding: 1rem;
}

.links a.file .arrow {
  filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.5));
}

.links a.file {
  background-size: cover;
  background-image: var(--image-url);
}

.links a.file:hover:not(.current) {
  background-blend-mode: luminosity;
}

.current {
  background-blend-mode: soft-light;
}

.links a.folder {
  background-color: rgba(128,128,128,0.5);
}

/* SVG Icons */
.xlinks {
  display: none;
}

.links a.folder:hover {
  background-color: rgba(128,128,128,0.6)
}

.links a.file:hover {
  background-color: rgba(128,128,128,0.5)
}

.file-item:hover .arrow svg,
.file-item.current .arrow svg {
  transform: scale(2) rotate(360deg);
}

.file svg,
.file svg path,
.folder svg,
.folder svg path {
  fill: #FFF;
  transition: all calc(2 * var(--transition-base)) ease;
}

.file:hover svg {
  fill: var(--theme-color);
}

.current .arrow svg {
  fill: var(--playing-color);
}

.folder svg {
  fill: var(--folder-color);
  transition: all var(--transition-base);
}

.folder:hover svg {
  filter: brightness(2);
}

.folder .arrow .closed, .folder:first-of-type .arrow .open {
  display: block;
}
.folder .arrow .open, .folder:first-of-type .arrow .closed {
  display: none;
}

.no-transitions * {
  transition: none !important;
}
